* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #153b67;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
   box-shadow: 2.5rem 0 1rem rgb(243, 26, 6);
  
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
   box-shadow: 0 0 1rem rgb(227, 6, 243);
}

.choice:hover {
  cursor: pointer;
  background-color: #9d66af;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
   box-shadow: 1rem 1rem 1rem rgb(252, 107, 4);
   padding: 1.5px;
   color: rgb(12, 63, 248);
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
   box-shadow: 1.5rem 1.3rem 1rem rgb(6, 176, 214);
}